@import url('reset.css');

/* !GLOBAL */
body {
	font-family: "Roboto", sans-serif;
	color: #212121;
	letter-spacing: .9px;
	/* font-weight: 400;
	font-size: 16px; */
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.subtitle {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
}

/* ? HEADER */

.header {
	padding: 24px 0 25px;
	border-bottom: 1px solid #ECECEC;
	font-size: 14px;
	font-weight: 500;
}
.header-container {
	display: flex;
	align-items: center;
}
.header-logo {
	margin-right: 93px;
}
.header-menu {
	display: flex;
	gap: 50px;
	margin-right: auto;
}
.header-menu-item a {
	color: #212121;
	text-decoration: none;
}
.header-menu-item a:hover {
	color: #2196F3;
}
.header-menu-item a.active {
	color: #2196F3;
}
.header-list {
	display: flex;
	gap: 50px;
}
.header-list-item a {
	color: #757575;
	text-decoration: none;
}
.header-list-item a:hover {
	color: #2196F3;
}


/* FILTERS */

.filters{
	width: 611px;
	height: 54px;
	margin: 0 auto;
	padding-top: 94px;
	padding-bottom: 100px;
	
}

.menu-list{
	justify-content: space-between;
	gap: 4px;
	display: flex;
	align-items: baseline;
}
.menu-item{
	width: 130px;
	height: 38px;
	flex-shrink: 0;
	border-radius: 4px;
	background: #F5F4FA;
	text-align: center;
}
.menu-item.blue{
	background: #2196F3;
	color: #FFF;
}

/* CARDS */
.project-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -15px;
	padding-bottom: 94px;
}

.card{
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: 30px;
}

.card-title{
	color: #212121;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px; 
	letter-spacing: 1.08px;
	margin: 20px 24px ;
}

.card-desc{
	color: #757575;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.48px;
	margin:0 24px 20px ;
}

/* ? FOOTER */
.footer {
	padding: 60px 0;
	background: #2f303a;
	font-size: 14px;
}
.footer-logo {
	display: inline-block;
	margin: 0 0 20px;
}
.footer-address {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	gap: 9px;
}
.footer-address p {
	color: #fff;
}
.footer-address a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}
.footer-address a:hover {
	color: #2196F3;
}
