@import url('reset.css');

/* GLOBAL STYLES */
body {
	font-family: "Roboto", sans-serif;
	color: #212121;
	letter-spacing: .9px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.subtitle {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
}

/* HEADER STYLES */
.header {
	padding: 24px 0 25px;
	border-bottom: 1px solid #ECECEC;
	font-size: 14px;
	font-weight: 500;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 93px;
}

.header-menu {
	display: flex;
	gap: 50px;
	margin-right: auto;
}

.header-menu-item a {
	color: #212121;
	text-decoration: none;
}

.header-menu-item a:hover,
.header-menu-item a.active {
	color: #2196F3;
}

.header-list {
	display: flex;
	gap: 50px;
}

.header-list-item a {
	color: #757575;
	text-decoration: none;
}

.header-list-item a:hover {
	color: #2196F3;
}

/* FILTERS */
.filters {
	padding-top: 94px;
	padding-bottom: 34px;
}

.menu-list {
	justify-content: center;
	gap: 8px;
	display: flex;
	flex-wrap: wrap;
}

.menu-item {
	padding: 6px 25px;
	border-radius: 4px;
	background: #F5F4FA;
	color: #212121;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	cursor: pointer;
	flex: 0 1;
	white-space: nowrap;
}

.menu-item:hover{
	background: #2196F3;
	color: #FFF;
	transition: all 0.3s ease-out;
}

.menu-item.blue {
	background: #2196F3;
	color: #FFF;
}

/* CARDS */
.project-box {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	margin: 0 -15px;
	padding-bottom: 94px;

}

.card {
	background: #FFF;
	cursor: pointer;
	flex: 0 0 33.333%;
	padding: 0 15px;
}

.image {
	position: relative;
}

.card-image {
	width: 100%;
	height: 294px;
	object-fit: cover;
}

.card-title,
.card-desc {
	font-family: Roboto;
}

.card-about {
	padding: 24px;
	border: 1px solid #EEEEEE;
	border-top: none;
}

.card-title {
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 1.08px;
	padding-bottom: 4px;
}

.card-desc {
	color: #757575;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.48px;
}

.hover-text {
	padding: 24px;
	background: rgba(33, 150, 243, 0.90);
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	color: #FFF;
	font-size: 18px;
	letter-spacing: 0.54px;
	line-height: 28px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	
}

.card:hover .card-about{
	box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card:hover .hover-text {
	opacity: 1;
	cursor: pointer;
}

/* FOOTER STYLES */
.footer {
	padding: 60px 0;
	background: #2f303a;
	font-size: 14px;
}

.footer-logo {
	display: inline-block;
	margin: 0 0 20px;
}

.footer-address {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	gap: 9px;
}

.footer-address p {
	color: #fff;
}

.footer-address a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer-address a:hover {
	color: #2196F3;
}


/* adaptiv */

/* 1200px */

@media (max-width:1200px) {
	.card {
		flex: 1 1 45%;
	}
}


/* 992px */

@media (max-width: 992px) {
	.header-logo {
		margin-right: 30px;
	}

	.header-menu, .header-list {
		gap: 20px;
	}
}

/* 768 */

@media (max-width: 768px) {
	.header-menu, .header-list {
		display: none;
	}

	/* BURGER */
	.header-logo {
		margin-right: auto;
	}

	.header-burger {
		display: block;
		width: 24px;
		height: 16px;
		position: relative;
		cursor: pointer;
	}

	.header-burger::before,
	.header-burger::after,
	.header-burger span {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 2px;
		background: #000;
	}

	.header-burger::after {
		top: auto;
		bottom: 0;
	}

	.header-burger span {
		top: 50%;
		/* margin-top: -1px; */
		transform: translateY(-50%);
	}
}

/* 660px */

@media (max-width: 660px) {
	.container {
		max-width: 540px;
	}

	.menu-item {
		flex-wrap: wrap;
	}

	.card {
		flex-basis: 100%;
	}

	.project-box {
		padding-bottom: 64px;
	}
}

/* 480px */
@media (max-width: 480px) {
	.footer-box {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.footer-address {
		align-items: center;
	}

	.project-box {
		padding-bottom: 58px;
	}

	.filters {
		padding-top: 60px;
		padding-bottom: 40px;
	}
}

