@import url('reset.css');

/* GLOBAL STYLES */
body {
	font-family: "Roboto", sans-serif;
	color: #212121;
	letter-spacing: .9px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.subtitle {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
}

/* HEADER STYLES */
.header {
	padding: 24px 0 25px;
	border-bottom: 1px solid #ECECEC;
	font-size: 14px;
	font-weight: 500;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 93px;
}

.header-menu {
	display: flex;
	gap: 50px;
	margin-right: auto;
}

.header-menu-item a {
	color: #212121;
	text-decoration: none;
}

.header-menu-item a:hover,
.header-menu-item a.active {
	color: #2196F3;
}

.header-list {
	display: flex;
	gap: 50px;
}

.header-list-item a {
	color: #757575;
	text-decoration: none;
}

.header-list-item a:hover {
	color: #2196F3;
}

/* FILTERS */
.filters {
	padding-top: 94px;
	padding-bottom: 34px;
}

.menu-list {
	justify-content: center;
	gap: 8px;
	display: flex;
}

.menu-item {
	padding: 6px 25px;
	border-radius: 4px;
	background: #F5F4FA;
	color: #212121;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	cursor: pointer;
}

.menu-item.blue {
	background: #2196F3;
	color: #FFF;
}

/* CARDS */
.project-box {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin: 0 -15px;
	padding-bottom: 94px;
	flex: 0 0 33.333%;
}

.card {
	border: 1px solid #EEE;
	background: #FFF;

}
.image{
	position: relative;
}
.card-image{
	width: 100%;
	height: 294px;
	object-fit: cover;
}
.card-title,
.card-desc {
	font-family: Roboto;
}

.card-title {
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 1.08px;
	margin: 20px 24px 0;
	padding-bottom: 4px;
}

.card-desc {
	color: #757575;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.48px;
	margin: 0 24px 20px;
	padding-bottom: 4px;
}
.hover-text{
	padding: 63px 24px;
	background: rgba(33, 150, 243, 0.90);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	font-size: 18px;
	letter-spacing: 0.54px;
	line-height: 28px;
	display: none;
}

.image:hover > .hover-text{
	display: block;
	cursor: pointer;
} 	

/* FOOTER STYLES */
.footer {
	padding: 60px 0;
	background: #2f303a;
	font-size: 14px;
}

.footer-logo {
	display: inline-block;
	margin: 0 0 20px;
}

.footer-address {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	gap: 9px;
}

.footer-address p {
	color: #fff;
}

.footer-address a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer-address a:hover {
	color: #2196F3;
}
